
.timetable {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.date {
    padding-top: 5px;
    color: #002d61;
    font-size: 20px;
    text-align: center;
}

