.header {
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  color: #002d61;

  .title {
    font-size: 50px;
    margin: 0;
  }

  .tagLine {
      font-size: 25px;
      margin: 20px auto;
  }
}

.timetable {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media only screen and (max-width: 450px) {
    .header {
        .title {
            font-size: 30px;
        }

        .tagLine {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 270px) {
    .header {
        .title {
            font-size: 20px;
        }

        .tagLine {
            font-size: 10px;
        }
    }
}

